html {
    font-family: "微软雅黑", serif;
}

.w {
    margin: auto;
    width: 1200px;
}

.b {
    background: #2f4687;
}

.c {
    color: #2f4687;
}

.fl {
    float: left;
}

.fr {
    float: right;
}

.cls:after {
    content: '';
    display: table;
    clear: both;
}