html {
    font-family: "微软雅黑", serif;
}

.w {
    margin: auto;
    width: 1200px;
}

.b {
    background: #cc4744;
}

.c {
    color: #cc4744;
}

.fl {
    float: left;
}

.fr {
    float: right;
}

.cls:after {
    content: '';
    display: table;
    clear: both;
}

.top {
    color: white;
    height: 30px;
    line-height: 30px;
    font-size: 12px;
}

.time {
    float: left;
    padding-left: 40px;
}

.weather {
    float: right;
    padding-right: 40px;
}

.nav {
    height: 70px;
    background: url(./image/nav.jpg) no-repeat -1px center;
}

.nav-list {
    width: 960px;
    margin: auto;
    list-style: none;
}

.nav-item {
    float: left;
    line-height: 70px;
    width: 16.6%;
    text-align: center;
    background: url(./image/nav-line.jpg) no-repeat right center;
}

.nav-link {
    color: white;
    font-size: 18px;
    font-weight: 400;
    text-decoration: none;
}

.nav-link-current {
    color: #fffc46;
}

.footer {
    padding: 20px 0;
}

.footer-content {
    width: 460px;
    margin: auto;
    color: white;
    font-size: 14px;
}

.footer-text p {
    margin: 6px 0;
}

.footer-img-2 {
    position: relative;
    top: -10px;
}